<div class="container">
  <div class="page-header">
    <h1>FAQ</h1>
  </div>
  <hr>
</div> <!-- /container -->

<div class="container">
  <!-- <div class="qlist">
    <div class="row">
      <p><a href="#q1">How do I create an account?</a></p>
    </div>
    <div class="row">
      <p><a href="#q2">How do I know how many classes I have left? And when does my package expire?</a></p>
    </div>
    <div class="row">
      <p><a href="#q3">How do I save my QR code on my phone?</a></p>
    </div>
    <div class="row">
      <p><a href="#q4">Can I suspend my package?</a></p>
    </div>
    <div class="row">
      <p><a href="#q5">I cannot pre-register for class. Why not?</a></p>
    </div>
    <div class="row">
      <p><a href="#q6">How do I buy a package online?</a></p>
    </div>
    <div class="row">
      <p><a href="#q7">How can I cancel a class or view class I have preregistered for? When is the cutoff time for cancelling classes?</a></p>
    </div>
    <div class="row">
      <p><a href="#q8">I preregistered for a class but I can’t attend.</a></p>
    </div>
    <div class="row">
      <p><a href="#q9">How many classes may I register for in advance? Is there a limit?</a></p>
    </div>
  </div>
  <hr /> -->
  <div class="row">
    <div class="question" id="q1">
      <p>How do I create an account?</p>
    </div>
    <div class="answer">
      <p>On the homepage, click the Sign Up button. Complete the required fields, read the waiver, and click to agree to the terms.
        Once you complete the form, you will be online and have the ability to purchase packages, sign up for classes, download a QR code, and more.</p>
    </div>
  </div>
  <div class="row">
    <div class="question" id="q2">
      <p>How do I know how many classes I have left? And when does my package expire?</p>
    </div>
    <div class="answer">
      <ul>
        <li>Click MENU</li>
        <li>Go to ACCOUNT</li>
        <li>Go to PACKAGES</li>
        <li>You will see a column called “Classes Remaining” which indicates the amount of classes
          you have left and the expiration date of your package.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="question" id="q3">
      <p>How do I save my QR code on my phone?</p>
    </div>
    <div class="answer">
      <ul>
        <li>Click MENU</li>
        <li>Go to ACCOUNT</li>
        <li>Your QR code will be displayed</li>
      </ul>
      <div class="row">
        <div class="col-md-4">
          <div><%= image_tag("sampleQR.jpg", class: "image", size: "350x350", alt: "Sample QR") %></div>
        </div>
      </div>
      <p>Tap and hold to save the image to your iPhone or Android device.
        You may want to save the image to a separate photo album so you may access it more easily.</p>
    </div>
  </div>
  <div class="row">
    <div class="question" id="q4">
      <p>Can I suspend my package?</p>
    </div>
    <div class="answer">
      <p>YES! You may suspend your package one time and then re-activate it when you return.
        Please note: the system will only allow one suspension per package. (No exceptions!)</p>
      <p>Under your account screen choose your package tab:</p>
      <div><%= image_tag("suspend.jpg", class: "image", alt: "Suspend") %><div>
    </div>
  </div>
  <div class="row">
    <div class="question" id="q5">
      <p>I cannot pre-register for class. Why not?</p>
    </div>
    <div class="answer">
      <p>Most likely, your package has expired or you have used the maximum number of classes.
        Please purchase a new package by going to PACKAGES in your account.</p>
    </div>
  </div>
  <div class="row">
    <div class="question" id="q6">
      <p>How do I buy a package online?</p>
    </div>
    <div class="answer">
      <p>When logged into your account, click MENU, go to PACKAGES, and click on the type of package you’d like to purchase on the right side of the page.
        Your package will automatically be added to your account. You may pay online or at the studio. To pay online, you will be taken to Square to complete the transaction;
        to pay later, please see the front desk when you check in for class.
        In either case, once you add the package to your account you will be able to register for future classes.</p>
    </div>
  </div>
  <div class="row">
    <div class="question" id="q7">
      <p>How can I cancel a class or view class I have preregistered for? When is the cutoff time for cancelling classes?</p>
    </div>
    <div class="answer">
      <ul>
        <li>Once logged in, click MENU, go to ACCOUNT, and click on the CLASSES button. To cancel a class that you preregistered for, there is a cancel link.
          Click on that, and you will get a message saying that you have successfully cancelled the class.</li>
        <li>You are able to cancel within two hours of the class start time; if you need to cancel less than two hours before class, please call the studio at (617) 894-5451.
          Please leave a message with your name and phone number if you get our voicemail.</li>
        <li>To view the classes you are registered for, click MENU, go to ACCOUNT, and the classes will be listed under ‘Upcoming Registered Classes.’ You may preregister for classes
          up to the expiration date of your package and/or until you use the maximum number of classes allocated.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="question" id="q8">
      <p>I preregistered for a class but I can’t attend.</p>
    </div>
    <div class="answer">
      <p>You have up to two hours to cancel the class online; within two hours of the class start time, please call the studio in advance at
        (617) 894-5451 to cancel the class, otherwise it will be forfeited.</p>
    </div>
  </div>
  <div class="row">
    <div class="question" id="q9">
      <p>How many classes may I register for in advance? Is there a limit?</p>
    </div>
    <div class="answer">
      <p>You may register for as many classes in advance as your package will allow up to the expiration date of that package. You may register as early as 30 days in advance.</p>
    </div>
  </div>
</div>
